@using Telerik.Web.Mvc.UI
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @(Html.Telerik().StyleSheetRegistrar().
          DefaultGroup(group => group.Add("telerik.common.css").
                                      Add("telerik.windows7.css")))
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@Url.Content("~/Icon/favicon.ico")" type="image/x-icon"/>
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
</head>
<body>
    <header>
        <div id="banner_content">
            <div id="banner_wrapper">
                <div id="logo">
                    <a href="/">
                        <img src="@Url.Content("~/Images/bookit_beta.png")" alt="Book!t" height="50px" style="border-style:none" />
                    </a>
                </div>
                <div id="deploy_location" class="deploy_location">
                    @System.Configuration.ConfigurationManager.AppSettings["DeployLocation"]
                </div>
                @if (System.Configuration.ConfigurationManager.AppSettings["LocationAware"] == "true")
                {
                <div id="login">
                    @{Html.RenderAction("Login", "Login");}
                </div>
                }
                @{Html.RenderAction("Menu", "Nav",
                                    new { controllerType = Html.ViewContext.Controller.GetType() });}
            </div>
        </div>
    </header>
    <div id="main_content">
        <div id="main_wrapper">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="footer">
            <p style="float:left; margin:0">&copy @DateTime.Now.Year - Book!t</p>
            <span style="float:right">
                @Html.RouteLink("Help?", "About", new { viewName = "help" }, new { style = "text-decoration: none;" })
            </span>
        </div>
    </footer>
    @(Html.Telerik().ScriptRegistrar())
</body>
</html>
